<div class="container-service">
  <div class="service-info">
    <div class="service-header">
      <div class="service-img">
        <%= cl_image_tag @service.image.key, height: 200, width: 170 %>
      </div>
      <h1 class="service-id"><%= @service.fullname %></h1>
    </div>
    <div class="service-body">
      <div class="service-details">
        <p><%= @service.definition %></p>
      </div>
      <div class="service-examples">
        <p class="option"><%= @service.option %></p>
        <p><%= @service.presample %></p>

        <ul>
          <% @service.activities.each do |activity| %>
            <li><%= activity.sample %></li>
          <% end %>
        </ul>
        <br>
        <p><%= @service.conditions %>: <strong><%= @service.plafond %></strong></p>
      </div>
    </div>
    <div class="text-center">
      <%= link_to 'RETOUR', root_path, class:'btn-return' %>
    </div>
  </div>
</div>
