<div class="footer">
  <div class="footer-header">
    <h2>LES SERVICES DE BENOIT</h2>
    <%= image_tag 'footer-bell.webp', alt:"footer-logo", loading:"lazy", width:200, height:200 %>
  </div>
   <div class="footer-body">
      <%= image_tag 'sap-b&w.svg', id:"sap", alt:"footer logo sap", loading:"lazy", height:70, width:85 %>
      <%= image_tag 'pays-de-gex.webp', id:"paysdegex", alt:"footer logo pdg", loading:"lazy", height:40, width:172 %>
    </div>
  <div class="footer-links">
    <div class="footer-mentions">
      <p>LIENS UTILES :</p>
      <hr class="tiret">
      <%= link_to 'Avance Immédiate', faq_path %>
      <%= link_to 'Cookies', cookys_path %>
      <%= link_to 'Mentions Légales', mentions_path %>
      <%= link_to 'Politique de Confidentialité', confidentialites_path %>
    </div>
    <div class="footer-sap">
      <p>LES SERVICES DE BENOIT :</p>
      <hr class="tiret">
      <%= link_to 'Assistance Administrative', service_path(11) %>
      <%= link_to 'Assistance Informatique', service_path(12) %>
      <%= link_to 'Petit Bricolage', service_path(13) %>
      <%= link_to 'Courses & Livraisons', service_path(14)  %>
      <%= link_to 'Vigilance du Domicile', service_path(15) %>
    </div>
    <div class="footer-contact">
      <p>CONTACT</p>
      <hr class="tiret">
      <div class="footer-contact-details">
        <%= image_tag 'phone-gray.svg', alt:"footer icon phone", height:16, width:12, loading:"lazy" %>
        <p>09 72 53 28 80</p>
      </div>
      <br>
      <div class="footer-contact-details">
        <%= image_tag 'envelop-gray.svg', alt:"footer icon envelop", height:16, width:22, loading:"lazy" %>
        <p>benoit@servicesdebenoit.com</p>
      </div>
    </div>
    <div class="footer-social">
      <p>RÉSEAUX SOCIAUX</p>
      <hr class="tiret">
      <div class="footer-social-icons">
        <%= link_to "http://www.facebook.com/mypage", target: :_blank do %>
          <%= image_tag 'facebook-gray.svg', alt:"icon Facebook", loading:"lazy", height:32, width:32 %>
        <% end %>
        <%= link_to "http://www.instagram.com/mypage", target: :_blank do %>
          <%= image_tag 'instagram-gray.svg', alt:"icon Instagram", loading:"lazy", height:32, width:32 %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="copyright text-center">
    © Les Services De Benoit 2023
  </div>
</div>

