<div class="footer">
  <div class="footer-header">
    <div class="legales-links">
      <%= link_to 'Cookies', cookys_path %>
      <span class="separateur-footer">|</span>
      <%= link_to 'Mentions Légales', mentions_path %>
      <span class="separateur-footer">|</span>
      <%= link_to 'Politique de Confidentialité', confidentialite_path %>
    </div>
    <div class="social-links">
      <%= link_to "http://www.facebook.com/mypage", target: :_blank do %>
        <i class="fab fa-facebook fa-2x"></i>
      <% end %>
      <%= link_to "http://www.instagram.com/mypage", target: :_blank do %>
        <i class="fab fa-instagram fa-2x"></i>
      <% end %>
    </div>
  </div>
  <div class="footer-footer text-center">
    ©LesServicesDeBenoit 2021
  </div>
</div>

