<nav class="navbar my-navbar navbar-expand-lg">
  <div class="navbar-brand">
    <%= link_to root_path, class:"navbar-brand" do %>
      <%= image_tag 'favbellicon.webp', id:"nav-logo", alt:"Les Services de Benoit", height:30, width:36 %>
      <span id="brand">LES SERVICES DE BENOÎT</span>
    <% end %>
  </div>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <%= image_tag 'icon-bars.svg', id:"nav-logo", alt:"icon menu", height:48, width:48 %>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <%= link_to 'SERVICES', root_path(anchor: 'services') ,  class: "nav-link" %>
      <%= link_to 'A PROPOS', root_path(anchor: 'apropos') ,  class: "nav-link" %>
      <%= link_to 'CONTACT', root_path(anchor: 'contact') ,  class: "nav-link" %>
    </div>
  </div>
</nav>
