<div class="section-home">
  <div class="home">
    <div class="home-body">
      <h1>LES SERVICES DE BENOIT</h1>
      <%= image_tag 'bell-orange.webp', id:"bell" %>
      <div class="home-body-text" data-aos="zoom-in-up" data-aos-delay="2000">
        <p>Aide à la personne<br>Prestations à domicile<br>sur mesure</p>
      </div>
    </div>
    <div class="home-footer">
      <%= image_tag 'sap-b&w.svg', id:"sap", alt: "Logo SAP", height:"70px", width:"auto" %>
      <%= image_tag 'pays-de-gex.webp', id:"paysdegex", alt: "logo du Pays de Gex", height:"50px", width:"auto" %>
    </div>
  </div>
</div>
<div class="section-services" id="services">
  <div class="title-section title-services" data-aos="zoom-in-down" >
    <h2>SERVICES PROPOSÉS</h2>
  </div>
  <div class="subtitle text-center">
    <p>Vous n'avez pas le temps, l'envie ou la patience pour certaines tâches de la vie quotidienne. </p>
    <span id="ben">Benoît est à votre service !</span>
  </div>
  <div class="services-wrapper">
    <% @services.each do |service|%>
      <%= link_to service_path(service), class:'service-card-link' do %>
        <div class="service-card">
          <div class="service-icone">
            <%= cl_image_tag service.logo.key, height: 50 %>
          </div>
          <div class="service-name">
            <h4><%= service.name %></h4>
          </div>
          <p>En savoir +</p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="section-coronavirus" id="coronavirus" >
  <div class="coronavirus">
    <div class="title-section title-coronavirus" data-aos="zoom-in-down">
      <h2>SPECIAL covid-19</h2>
    </div>
    <div class="coronavirus-text" data-aos="zoom-out">
      <p>Des mesures de protection ont été mises en place permettant des prestations à domicile dans le respect des règles d'hygiène préconisées par l'Etat et notamment des gestes barrières.</p>
    </div>
  </div>
</div>
<div class="section-info" id="info">
  <div class="title-section title-sap" data-aos="zoom-in-down" >
    <h2>SERVICE A LA PERSONNE / SAP</h2>
  </div>
  <div class="info-wrapper">
    <div class="info-box">
      <div class="info-box-title">
        <div class="corner"></div>
        <div class="cornerbis"></div>
        <div class="title-wrapper">
          <h3>LES AVANTAGES</h3>
        </div>
      </div>
      <div class="info-box-img">
        <%= image_tag 'logo_sap.svg', alt:"logo service à la personne", loading:"lazy", width:280, height:131 %>
      </div>
      <div class="info-text">
        <p>
          En faisant appel aux Services de Benoît, Les dépenses que vous engagez à ce titre vous donnent droit à un crédit d’impôt de 50%, dans la limite des plafonds autorisés. <br>
          Jusqu’à présent, vous bénéficiiez de votre crédit d’impôt l’année suivant les dépenses, au moment de votre déclaration auprès de l’administration fiscale…
        </p>
      </div>
    </div>
    <div class="info-box">
      <div class="info-box-title">
        <div class="corner"></div>
        <div class="cornerbis"></div>
        <div class="title-wrapper">
          <h3>L'AVANCE IMMÉDIATE</h3>
        </div>
      </div>
      <div class="info-box-img">
        <%= image_tag 'urssaf-AI.webp', alt:"avance immédiate URSSAF", loading:"lazy", width:280, height:131 %>
      </div>
      <div class="info-text">
        <p>
          Ce service vous est proposé par l’URSSAF. Il est optionnel et gratuit.  Il vous permet ainsi de bénéficier en temps réel de votre avantage fiscale de 50% lors du paiement de votre facture. <br>
          Pour en profiter, il vous suffit simplement de demander à votre prestataire de services préféré, Benoît, de vous y inscrire.
        </p>
        <%= link_to '+ de détails sur Avance Immédiate', faq_path, class:"faq-link" %>
      </div>
    </div>
    <div class="info-box">
      <div class="info-box-title">
        <div class="corner"></div>
        <div class="cornerbis"></div>
        <div class="title-wrapper">
          <h3>DÉCLARATION FISCALE</h3>
        </div>
      </div>
      <div class="info-box-img">
        <%= image_tag 'impots.webp', alt:"Fiche de déclaration d'impôts", loading:"lazy", width:280, height:131 %>
      </div>
      <div class="info-text">
        <p>
          Au mois de janvier, vous recevrez une attestation fiscale reprenant la nature des prestations fournies, les sommes réglées pour l'année précédente. Cette attestation et les factures reçues seront à conserver précieusement comme justificatifs pour votre déclaration de revenus.
        </p>
      </div>
    </div>
    <div class="info-box">
      <div class="info-box-title">
        <div class="corner"></div>
        <div class="cornerbis"></div>
        <div class="title-wrapper">
          <h3>TARIFS & DEVIS</h3>
        </div>
      </div>
      <div class="info-box-img">
        <%= image_tag 'logo_bell.webp', alt:"Logo Services de Benoit", loading:"lazy", width:280, height:131 %>
      </div>
      <div class="info-text">
        <p>
          Les tarifs varient selon la prestation de service demandée et la fréquence d’intervention. <br>
          Un devis gratuit personnalisé vous sera remis pour toute prestation ou ensemble de prestations dont le prix total est supérieur ou égal à 100 €, ou sur demande si le prix est inférieur.
        </p>
      </div>
    </div>
    <div class="text-center text-muted" id="declaration">
      Les Services de Benoît font l'objet d'une déclaration auprès de l'Organisme des Services à la Personne n°: SAP751342247
    </div>
  </div>
</div>
<div class="section-apropos" id="apropos">
  <div class="apropos">
    <div class="title-section title-apropos">
      <h2>À PROPOS DE BENOÎT</h2>
    </div>
    <%= image_tag 'pola-portrait.webp', alt:"portrait", loading:"lazy", width:"400px", height:"439px" %>
    <div class="profile" data-aos="zoom-out">
      <p>Plus de 20 années d'expérience, à l'écoute et au service d'une clientèle française et internationale à la réception d'hôtels et dans les services aux expatriés.</p>
    </div>
  </div>
</div>
<div class="section-contact" id="contact">
  <div class="title-section title-contact" data-aos="zoom-in-down">
    <h2>CONTACTER MOI</h2>
  </div>
  <div class="form-wrapper">
    <div class="contact-infos">
      <div class="phone" data-aos="fade-right" data-aos-delay="400">
        <%= image_tag 'phone-orange.svg', alt:"icon phone", height:16, width:12, loading:"lazy" %>
        09.72.53.28.80
      </div>
      <div class="mail" data-aos="fade-left" data-aos-delay="600">
        <%= image_tag 'envelop-orange.svg', alt:"icon envelop", height:16, width:22, loading:"lazy" %>
        benoit@servicesdebenoit.com
      </div>
    </div>
    <form action="https://formspree.io/xeqrpboq" method="POST" >
      <input type="text" name="name" id="full-name" autocomplete="off" required placeholder="Nom" />
      <input type="email" name="_replyto" autocomplete="off" required placeholder="Email"/>
      <input type="phone" name="phone" autocomplete="off" required placeholder="Téléphone"/>
      <textarea row="3" name="message" id="message" required placeholder="Message..."></textarea>
      <input type="hidden" name="_subject" id="email-subject" value="Formulaire SAP">
      <input type="submit" value="ENVOYER" class="btn-contact">
    </form>
  </div>
</div>


